<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/style.css' />
	<script	src="bundle.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<p>This project is created to cleanup sets of SVG (icons) for use in webdevelopment. It's currently not about optimising file size, but rather clearing junk, duplicate ID's and creating a generalised stylesheet for these elements. At <%= title %> we like to call these files CVG, Clean Vector Graphics.</p>
	<form action="/" method="post">

		<section>
			<h2>Options</h2>
			<label>
				Output
				<select name="outputstyle">
					<option value="minified">Minified</option>
					<option value="beautified" disabled>Beautified</option>
				</select>
			</label>
			<label>
				Size adjust
			</label>
			<label>
				Color handling
			</label>
			<label>
				ID Handling
			</label>
			<label>
				Comment handling
			</label>
			<label>
				Title handling
			</label>
		</section>

		<!-- <section id="css">
			<h2>Styles output</h2>
			<textarea name="styles">

			</textarea>
		</section> -->

		<!-- <section class="svg">
			<h2>SVG TITLE</h2>
			<div class="input">
				<textarea name="input">
					<svg height="464pt" viewBox="0 -24 464 464" width="464pt" xmlns="http://www.w3.org/2000/svg"><path d="m48 200c-26.507812 0-48 21.492188-48 48v72c0 17.671875 14.328125 32 32 32h200v-152zm0 0" fill="#ffcd00"/><path d="m416 200h-184v152h200c17.671875 0 32-14.328125 32-32v-72c0-26.507812-21.492188-48-48-48zm0 0" fill="#ffd31c"/><path d="m144 56c-53.019531 0-96 42.980469-96 96v48h184v-144zm0 0" fill="#ffda44"/><path d="m416 152c0-53.019531-42.980469-96-96-96h-88v144h184zm0 0" fill="#ffde59"/><path d="m48 384c0 17.671875 14.328125 32 32 32h32c17.671875 0 32-14.328125 32-32v-32h-96zm0 0" fill="#3e3d42"/><path d="m320 384c0 17.671875 14.328125 32 32 32h32c17.671875 0 32-14.328125 32-32v-32h-96zm0 0" fill="#3e3d42"/><path d="m16 160c-8.835938 0-16 7.164062-16 16s7.164062 16 16 16h32v-32zm0 0" fill="#898890"/><path d="m448 192c8.835938 0 16-7.164062 16-16s-7.164062-16-16-16h-32v32zm0 0" fill="#898890"/><path d="m104 296c0 13.253906-10.746094 24-24 24s-24-10.746094-24-24 10.746094-24 24-24 24 10.746094 24 24zm0 0" fill="#f1f2f2"/><path d="m408 296c0 13.253906-10.746094 24-24 24s-24-10.746094-24-24 10.746094-24 24-24 24 10.746094 24 24zm0 0" fill="#f1f2f2"/><path d="m312 32c0-17.671875-14.328125-32-32-32h-48v56h80zm0 0" fill="#ffd31c"/><path d="m184 0c-17.671875 0-32 14.328125-32 32v24h80v-56zm0 0" fill="#ffcd00"/><path d="m320 80h-88v96h160v-24c-.042969-39.746094-32.253906-71.957031-72-72zm0 0" fill="#f1f2f2"/><path d="m144 80c-39.746094.042969-71.957031 32.253906-72 72v24h160v-96zm0 0" fill="#e6e7e8"/><path d="m136 280h96v32h-96zm0 0" fill="#00aeef"/><path d="m232 280h96v32h-96zm0 0" fill="#1cb7f1"/></svg>
				</textarea>
				<div></div>
			</div>
			<div class="output">
				<textarea name="output"></textarea>
				<div></div>
			</div>
		</section> -->

		<!-- <section class="svg template">
			<h2>SVG TITLE</h2>
			<div class="input">
				<textarea name="input"></textarea>
				<div></div>
			</div>
			<div class="output">
				<textarea name="output"></textarea>
				<div></div>
			</div>
		</section> -->
	</form>
  </body>
</html>
