@import 'vbase/css/sass/_mixins.scss';
@import 'vbase/css/sass/_variables.scss';
@import 'vbase/css/sass/_general.scss';
@import 'vbase/css/sass/_buttons.scss';

.svg {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	background-color: white;
	padding: 1rem;
	margin-bottom: 1em;
	header {
		grid-column: span 2;
	}
	textarea {
		grid-row-start: 3;
	}
}